In [1]:
%%writefile zoo.py
def hours():
    print('Open 9-5 daily')

Overwriting zoo.py

In [2]:
import zoo
zoo.hours()

Open 9-5 daily

In [3]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [27]:
import sqlite3

conn = sqlite3.connect('books.db')

c = conn.cursor()

c.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='books'")
result = c.fetchone()

if result is None:
    c.execute('''CREATE TABLE books
                 (title TEXT, author TEXT, year INTEGER)''')

conn.commit()
conn.close()

In [28]:
from sqlalchemy import create_engine, MetaData, Table, Column, String, Integer, select

engine = create_engine('sqlite:///books.db')
metadata = MetaData()

books = Table('books', metadata,
              Column('title', String),
              Column('author', String),
              Column('year', Integer))

with engine.connect() as conn:
    stmt = select([books.columns.title]).order_by(books.columns.title)
    results = conn.execute(stmt).fetchall()
    for row in results:
        print(row[0])